<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gcyl.entity.domain.mapper.ex.CartMapper" >
    <resultMap id="BaseResultMap" type="gcyl.entity.domain.model.form.CartForm" >
        <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
        <result column="goodsId" property="goodsId" jdbcType="BIGINT" />
        <result column="specId" property="specId" jdbcType="BIGINT" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
        <result column="spec_name" property="specName" jdbcType="VARCHAR" />
        <result column="spec_price" property="specPrice" jdbcType="DECIMAL" />
        <result column="spec_stock" property="specStock" jdbcType="INTEGER" />
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
        <result column="is_default" property="isDefault" jdbcType="BIT" />
    </resultMap>

  <sql id="Base_Column_List" >
    c.category_name,
    g.id as goodsId,
    gs.id as specId,
    g.goods_name,
    gs.spec_name,
    gs.spec_price,
    g.goods_img,
    g.goods_unit,
    g.is_default
  </sql>

  <!-- 查询规格信息 -->
  <select id="selectBySpecId" parameterType="long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>, gs.spec_stock
    from
      tyg_ms_goods_spec gs
      join tyg_ms_goods g on gs.goods_id = g.id
      left join tyg_ms_category c on g.category_id = c.id
    where
      gs.id = #{specId}
      and g.is_on_sale = true
      and g.cut_off = false
      and gs.cut_off = false
  </select>

  <!-- 根据条件查询 单规格-->
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    tyg_ms_goods_spec gs
    join tyg_ms_goods g on gs.goods_id = g.id
    left join tyg_ms_category c on g.category_id = c.id
    <where>
      g.cut_off = false
      and gs.cut_off = false
      <if test="shopId != null">
          and g.shop_id = #{shopId}
      </if>
      <if test="isDefault != null">
          and g.is_default = #{isDefault}
      </if>
      <if test="isOnSale != null">
          and g.is_on_sale = #{isOnSale}
      </if>
    </where>
    group by g.id
  </select>
</mapper>