<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gcyl.entity.domain.mapper.GoodsSpecMapper" >
  <resultMap id="BaseResultMap" type="gcyl.entity.domain.model.GoodsSpec" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="spec_key" property="specKey" jdbcType="VARCHAR" />
    <result column="spec_name" property="specName" jdbcType="VARCHAR" />
    <result column="spec_price" property="specPrice" jdbcType="DECIMAL" />
    <result column="spec_day_stock" property="specDayStock" jdbcType="INTEGER" />
    <result column="spec_stock" property="specStock" jdbcType="INTEGER" />
    <result column="spec_sales_count" property="specSalesCount" jdbcType="INTEGER" />
    <result column="spec_month_sales" property="specMonthSales" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="BIGINT" />
    <result column="gmt_modify" property="gmtModify" jdbcType="BIGINT" />
    <result column="cut_off" property="cutOff" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, goods_id, spec_key, spec_name, spec_price, spec_day_stock, spec_stock, spec_sales_count, 
    spec_month_sales, gmt_create, gmt_modify, cut_off
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="gcyl.entity.domain.model.GoodsSpecExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tyg_ms_goods_spec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tyg_ms_goods_spec
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tyg_ms_goods_spec
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="gcyl.entity.domain.model.GoodsSpecExample" >
    delete from tyg_ms_goods_spec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="gcyl.entity.domain.model.GoodsSpec" >
    insert into tyg_ms_goods_spec (id, goods_id, spec_key, 
      spec_name, spec_price, spec_day_stock, 
      spec_stock, spec_sales_count, spec_month_sales, 
      gmt_create, gmt_modify, cut_off
      )
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{specKey,jdbcType=VARCHAR}, 
      #{specName,jdbcType=VARCHAR}, #{specPrice,jdbcType=DECIMAL}, #{specDayStock,jdbcType=INTEGER}, 
      #{specStock,jdbcType=INTEGER}, #{specSalesCount,jdbcType=INTEGER}, #{specMonthSales,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=BIGINT}, #{gmtModify,jdbcType=BIGINT}, #{cutOff,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="gcyl.entity.domain.model.GoodsSpec" >
    insert into tyg_ms_goods_spec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="specKey != null" >
        spec_key,
      </if>
      <if test="specName != null" >
        spec_name,
      </if>
      <if test="specPrice != null" >
        spec_price,
      </if>
      <if test="specDayStock != null" >
        spec_day_stock,
      </if>
      <if test="specStock != null" >
        spec_stock,
      </if>
      <if test="specSalesCount != null" >
        spec_sales_count,
      </if>
      <if test="specMonthSales != null" >
        spec_month_sales,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="cutOff != null" >
        cut_off,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="specKey != null" >
        #{specKey,jdbcType=VARCHAR},
      </if>
      <if test="specName != null" >
        #{specName,jdbcType=VARCHAR},
      </if>
      <if test="specPrice != null" >
        #{specPrice,jdbcType=DECIMAL},
      </if>
      <if test="specDayStock != null" >
        #{specDayStock,jdbcType=INTEGER},
      </if>
      <if test="specStock != null" >
        #{specStock,jdbcType=INTEGER},
      </if>
      <if test="specSalesCount != null" >
        #{specSalesCount,jdbcType=INTEGER},
      </if>
      <if test="specMonthSales != null" >
        #{specMonthSales,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=BIGINT},
      </if>
      <if test="cutOff != null" >
        #{cutOff,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="gcyl.entity.domain.model.GoodsSpecExample" resultType="java.lang.Integer" >
    select count(*) from tyg_ms_goods_spec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tyg_ms_goods_spec
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.specKey != null" >
        spec_key = #{record.specKey,jdbcType=VARCHAR},
      </if>
      <if test="record.specName != null" >
        spec_name = #{record.specName,jdbcType=VARCHAR},
      </if>
      <if test="record.specPrice != null" >
        spec_price = #{record.specPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.specDayStock != null" >
        spec_day_stock = #{record.specDayStock,jdbcType=INTEGER},
      </if>
      <if test="record.specStock != null" >
        spec_stock = #{record.specStock,jdbcType=INTEGER},
      </if>
      <if test="record.specSalesCount != null" >
        spec_sales_count = #{record.specSalesCount,jdbcType=INTEGER},
      </if>
      <if test="record.specMonthSales != null" >
        spec_month_sales = #{record.specMonthSales,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="record.gmtModify != null" >
        gmt_modify = #{record.gmtModify,jdbcType=BIGINT},
      </if>
      <if test="record.cutOff != null" >
        cut_off = #{record.cutOff,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tyg_ms_goods_spec
    set id = #{record.id,jdbcType=BIGINT},
      goods_id = #{record.goodsId,jdbcType=BIGINT},
      spec_key = #{record.specKey,jdbcType=VARCHAR},
      spec_name = #{record.specName,jdbcType=VARCHAR},
      spec_price = #{record.specPrice,jdbcType=DECIMAL},
      spec_day_stock = #{record.specDayStock,jdbcType=INTEGER},
      spec_stock = #{record.specStock,jdbcType=INTEGER},
      spec_sales_count = #{record.specSalesCount,jdbcType=INTEGER},
      spec_month_sales = #{record.specMonthSales,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=BIGINT},
      gmt_modify = #{record.gmtModify,jdbcType=BIGINT},
      cut_off = #{record.cutOff,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="gcyl.entity.domain.model.GoodsSpec" >
    update tyg_ms_goods_spec
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="specKey != null" >
        spec_key = #{specKey,jdbcType=VARCHAR},
      </if>
      <if test="specName != null" >
        spec_name = #{specName,jdbcType=VARCHAR},
      </if>
      <if test="specPrice != null" >
        spec_price = #{specPrice,jdbcType=DECIMAL},
      </if>
      <if test="specDayStock != null" >
        spec_day_stock = #{specDayStock,jdbcType=INTEGER},
      </if>
      <if test="specStock != null" >
        spec_stock = #{specStock,jdbcType=INTEGER},
      </if>
      <if test="specSalesCount != null" >
        spec_sales_count = #{specSalesCount,jdbcType=INTEGER},
      </if>
      <if test="specMonthSales != null" >
        spec_month_sales = #{specMonthSales,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=BIGINT},
      </if>
      <if test="cutOff != null" >
        cut_off = #{cutOff,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="gcyl.entity.domain.model.GoodsSpec" >
    update tyg_ms_goods_spec
    set goods_id = #{goodsId,jdbcType=BIGINT},
      spec_key = #{specKey,jdbcType=VARCHAR},
      spec_name = #{specName,jdbcType=VARCHAR},
      spec_price = #{specPrice,jdbcType=DECIMAL},
      spec_day_stock = #{specDayStock,jdbcType=INTEGER},
      spec_stock = #{specStock,jdbcType=INTEGER},
      spec_sales_count = #{specSalesCount,jdbcType=INTEGER},
      spec_month_sales = #{specMonthSales,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modify = #{gmtModify,jdbcType=BIGINT},
      cut_off = #{cutOff,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>